body, h1, form, label, input, select, button, img {
    padding: 0;
    margin: 0;
    font: inherit
}

* {
    box-sizing: border-box
}

.hidden {
    display: none
}

body, html {
    height: 100%
}

body {
    font: 13px droid sans, segoe ui, ubuntu, sans-serif;
    background-color: #F1F1F1;
    color: #212121;
    user-select: none
}

#layout, .card {
    width: 800px;
    margin: 0 auto 40px auto;
    padding: 20px;
    background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                  0 1px 5px 0 rgba(0, 0, 0, 0.12),
                  0 3px 1px -2px rgba(0, 0, 0, 0.2)
}

header {
    padding: 10px 0;
    margin-bottom: 20px;
    background-color: #E52D27;
    text-align: center
}

header a {
    text-decoration: none;
    color: #FFF
}

h1 {
    font-weight: bold;
    font-size: 16px
}

button, select, input[type="number"] {
    padding: 2px 8px
}

button {
    margin: 0 10px 10px 0
}

.form-block {
    margin-bottom: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid #F0F0F0
}

[type="number"] {
    padding: 4px;
    width: 60px;
    text-align: center;
    border: 1px solid #BBB
}

[type="checkbox"] {
    position: relative;
    top: 2px
}

.os-mac [type="checkbox"] {
    top: 0
}

[type="range"] {
    position: relative;
    top: 4px
}

select {
    background-color: #FFF;
    border: 1px solid #BBB
}

#current-volume {
    position: relative;
    bottom: 3px
}

.os-mac #current-volume {
    bottom: 0
}

label {
    margin-right: 5px;
    line-height: 18px
}

label:hover {
    color: #E52D27;
    cursor: pointer
}

label[for="vertical-margin"] {
    margin-left: 20px
}

#resolutions {
    margin-top: 10px;
    color: #999
}

#resolutions a {
    color: #999;
    text-decoration: none
}

#resolutions a:hover {
    color: #E52D27;
    text-decoration: underline
}

#resolutions a.active-resolution {
    color: #E52D27
}

#requires-api {
    margin-bottom: 20px;
    font-style: italic
}

.options br {
    display: none
}

.history a {
    color: #E52D27;
    text-decoration: none;
    line-height: 17px
}

.history a:hover {
    text-decoration: underline
}

.history p {
    text-align: center
}

table {
    border-collapse: collapse;
    margin-bottom: 20px
}

td {
    padding: 10px;
    border: 1px solid #FFF; /* to fix when removing the 1st line */
    border-bottom-color: #EEE;
    background-color: #FFF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.td-date {
    color: #444
}

.td-link {
    width: 580px;
    max-width: 580px
}

.td-remove {
    width: 30px;
    cursor: pointer;
    background-image: url(img/remove.png);
    background-repeat: no-repeat;
    background-position: center center
}

.instructions p {
    font-weight: bold;
    font-size: 17px
}

.instructions img {
    max-width: 100%;
    height: auto
}

.instructions a {
    color: #00e;
    text-decoration: underline
}

@media only screen and (max-width: 800px) {
    #layout, .card {
        width: 100%
    }

    label[for="vertical-margin"] {
        margin-left: 0
    }

    .options br {
        display: block;
        line-height: 30px
    }

    .td-link {
        width: 500px;
        max-width: 500px
    }
}

@media only screen and (max-width: 710px) {
    .td-link {
        width: 300px;
        max-width: 300px
    }
}
